/*Merry Caroline Purser*/
/*CSS for our portfolio site*/

/* elements */
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 800;
    padding: 5%;
}

p {
    font-size: 16px;
    
}

/* ids */
#CV-btn {
    color: snow;
}

#tiger {
    height: 144px;
    width: 100px;
}

#about-img-con {
    padding: 7%;
}

#git-link{
    color: rebeccapurple;
}

/*classes */
.container p {
   margin-left: 5em; 
}

.homeText p {
    text-align: center;
}

.homeText ul {
    width: 70%;
    margin: auto;
}

.icn {
    width: 40px;
}

.card {
    padding: 5%;
}

.my-btn-div {
    padding: 3%;
}

/*THE SCROLLBOX */
.scrollbox {
    border: 1px solid darkgrey;
    background-color: lightgray;
    overflow: scroll;
    height: 85px;
    width: 30%;
    margin: 1.66%;    
    float: left;
}

.list-title {
    font-size: 1.75em;
}


/*THE CAROUSEL*/
.carousel-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  padding: 5%;
}

.carousel-container img {
    width: 100%;
    border-radius: 10%;
}

.left-btn, .right-btn {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1.5%;
  color: white;
  font-size: 1.5em;
}

.right-btn {
  right: 0;
}

.left-btn {
    left: 0;
}

.left-btn:hover, .right-btn:hover {
  background-color: rgba(211,211,211,0.8);
}

.indicator-div {
    text-align: center;
}

.indicator {
  height: 20px;
  width: 20px;
  margin: 0 4px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
}

.current, .indicator:hover {
  background-color: darkgrey;
}